.Menu {
  padding: 0px 32px;
  background-color: #9E4770;
  display: flex;
  gap: 24px;
  align-items: center;
  color: #FBFBFB;
}

.MenuIcon {
  height: 36px;
  width: 36px;
  padding: 4px;
}

.Menu .MuiTabs-root button {
  font-size: 1.35rem;
}

.Content {
  margin: 0 32px 32px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InnerContent {
  max-width: 1200px;
}

@media screen and (max-width: 480px) {
  .Menu {
    padding: 0px 12px;
    gap: 8px;
  }

  .Menu .MuiTabs-root button {
    font-size: 1rem;
  }
}