h1, h2, h3 {
  font-family: 'Dosis', 'Helvetica Neue', 'Arial', sans-serif;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}

div, p, span {
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
}

p {
  margin-top: 0px;
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.Menu {
  padding: 0px 32px;
  background-color: #9E4770;
  display: flex;
  gap: 24px;
  align-items: center;
  color: #FBFBFB;
}

.MenuIcon {
  height: 36px;
  width: 36px;
  padding: 4px;
}

.Menu .MuiTab-root {
  font-size: 1.2rem;
}

.Content {
  margin: 0 32px 32px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InnerContent {
  max-width: 1200px;
}