.HomeWrapper {
  width: 100%;
  height: calc(100vh - 51px);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.HomeText {
  padding: 0 16px;
}

.HomeText h1 {
  margin-bottom: 0;
}

.HomeText .TagLine{
  font-size: 1.8rem;
  max-width: 500px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 82px;
  color: #666;
}

.SVGWrapper {
  flex-grow: 1;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .HomeWrapper {
    height: calc(100vh - 48px);
  }
}
