.ProjectWrapper {
  margin-bottom: 48px;
}

.Title {
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 24px;
  font-weight: 500;
}

.ImageWrapper {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.DescriptionWrapper {
  margin-bottom: 16px;
}

.ExtraInfoWrapper {
  font-size: 0.9rem;
  margin-bottom: 24px;
}

.DemoCodeWrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

.DemoCodeWrapper .MuiButtonBase-root {
  font-size: 1.2rem;
}
